*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* slick js */
/* start header */
header{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 100%;
    border-bottom: 0.5px solid white;
}
/* justify contain di chuyen theo truc chinh */
/* align_item di chuyen theo truc phu */
.header_container{
    height: 80px;
    /* border: 1px solid red; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.header_container .logo{
    color: white;
}
.header_container a{
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0.3s;
}
.header_container a.active,
.header_container a:hover{
    color: #e62b4a;
}
.header_container .logo{
    font-size: 2rem;

}
/* end header */

/* start banner */
.banner{
    background-image: url(./newimage-video/image-video/home_slider.jpg);
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_container{
    /* border: 1px solid red; */
    width: max-content;
    text-align: center;
    color: white;

}
.banner_container h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 20px 0px;

}
.banner_container p{
    font-size: 2rem;

}
.banner_container button{
    background: #e62b4A;
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 15px 40px;
    color: white;
}
.banner_container button:hover{
    background-color: #af2239;
    cursor: pointer;
    transition: 0.5s;
}

.banner_container i{
    font-size: 2rem;
    animation: arrowanimate 1s infinite;

    
}



@keyframes arrowanimate {
    from  {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(120px);
        opacity: 0;
    }
}
/* end banner */
/* start carousel */
.carousel{
    padding: 80px 0px;
    background-color: black;

}
.carousel_item{
    height: 220px;
    padding: 0 15px;
}
.carousel .item_container{
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    text-align: center;
    
}
.carousel .item_container::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 0px;
    background-color: #e62b4A;
    top: 0px;
    right: 0px;
    transition: 0.3s;
}
.carousel .item_container:hover::before{
    height: 100%;
} 

.carousel .slick-dots li.slick-active button::before{
    color: #e62b4A;
}
.carousel .slick-dots li button::before {
    font-size: 10px;
    color: white;

}
.carousel .slick-dots {
    bottom: -50px;
} 
/* end carousel */

/* start blogs */

.blogs{
    padding: 90px 0px;
}
.blogs_title{
    text-align: center;

}
.blogs_title h3{
    margin: 10px 0px;
    color:#888888;
    font-weight: 400;
}

.blogs_title h1{
    margin: 10px 0px;
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.blogs_title p{
    margin: 10px 0px;
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 40px;
}
.blogs_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    aspect-ratio: 1 / 1;

}
.blogs_list img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%) contrast(50%);
}
.blogs_list .item-1{
    grid-column: 1/3;
    grid-row: 1/ span 2;
}
.blogs_list .item-2{
    grid-column: 3/5;
    grid-row: 3/5;
}
.blogs_list .blogs_item{
    position: relative;
}
.blogs_list .item_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: 0.5s;
}
.blogs_item .overlay_search{
    position:  absolute;
    background: white;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 30px;
    text-align: center;
    line-height: 50px;
    transform: translateY(50px);
    transition: 0.5s;

}
.blogs_item .overlay_title{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: translateY(50px);
    transition: 0.5s;
}

.blogs_list .item_overlay:hover{
    opacity: 1;
}
.blogs_list .item_overlay:hover .overlay_search, .blogs_list .item_overlay:hover .overlay_title{
    transform: translateY(0px);
}

/* end blogs */

/* start number */
.number {
    padding: 90px 0px;
    background: black;
    color: white;
    text-align: center;
}
.number .number_list{
    display: flex;
    justify-content: space-evenly;

}
.number_list h2{
    font-size: 80px;
    font-weight: lighter;
}
.number_list p{
    font-size: 20px;
}
/* end number */

/* start experience */
.experience{
    background-image: url(./newimage-video/image-video/bussiness_img_1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0px;
}
.experience_title{
    text-align: center;
}
.experience_title h3{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}   
.experience_title h1{
    font-size: 50px;
    font-weight: 400;
    color: white;

}
.experience_title p{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.experience iframe{
    width: 100%;
    object-fit: cover;
    min-height: 80vh;
    padding: 40px 0px;
}

/* end experience */