*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    width: 100%;
    padding: 26px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
}
.container{
    width: 75%;
    margin: 0 auto;
}

.header_container{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    margin: 0 auto;
}
.header_container nav ul{
    display: flex;
    }
    header li{
        padding: 0 26px;
    }
header a{
    
    color: white;
   
    font-size: 17px;
    transition: 0.3s;
    text-decoration: none;
    
}    
.header_container a.active,
.header_container ul li a:hover{     
    color: #e62b4a;
}
header li{
    list-style: none;
}
.header_container .logo{
    font-size: 32px;
    font-weight: 700;
}
.header_container .logo span{
    font-weight: 600;
}
/* end header */
/* start banner */
.banner{
    background-image: url(./newimage-video/image-video/home_slider.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section .banner_container p{
    font-size: 25px;
}
section .banner_container h1{
    font-size: 75px;
    line-height: 90px;
}
section .banner_container button{
    font-size: 1rem;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border:red solid 1px;

}
section .banner_container i{
    margin-top: 50px;
    font-size: 30px;
    
}

.banner_container i{
    font-size: 10rem;
    animation: arrowanimate 1.5s infinite;

    
}

@keyframes arrowanimate {
    from  {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(50px);
        opacity: 0;
    }
}

/* Start Service */
.service{
    background-color: black;
    text-align: center;
    padding:  90px 0;
}

.service_content .title p:first-of-type{
    color: #e62b4a;
    font-size: 14px;
    font-weight: 300px;
}
.service_content .title p:last-of-type{
    color: #888888;
    font-size: 1rem;
    font-weight: 300px;
    margin-top: 20px;
}
.service_content .title h2{
    color: aliceblue;
    font-size: 50px;    
    font-weight: 300px  ;   /* can not apply weight, pls ask Mr.Phong */
}

/* end P */
/* start slick */
.service_slider{
    margin-top: 20px;
}
.slick_item{
    height: 220px;
    padding: 0 15px;
}
.service .slick_container{
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.service_slider .slick_container::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 0px;
    background-color: #e62b4A;
    top: 0px;
    right: 0px;
    transition: 0.3s;
}
